# Save as ".env" on the server.

# Digital Ocean Spaces / S3 credentials
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_DEFAULT_REGION=nyc3

# Giftless configuration
GIFTLESS_DEBUG=0
GIFTLESS_JWT_SECRET=generate-a-long-random-string-here
